// Typography
@use '../abstracts/' as *;

body, html {
	font-size: 16px;
	width: 100%;
	height: 100%;
	font-family: $base-font;
}

// Colored text
.txt {
	&-white {
		color: $white;
	}
	&-midnight {
		color: $midnight;
	}
	&-ocean {
		color: $ocean;
	}
	&-hotpink {
		color: $hotpink;
	}
	&-golden {
		color: $golden;
	}
	&-grey {
		color: $grey;
	}
	&-smoke {
		color: $smoke;
	}
	&-carbon {
		color: $carbon;
	}
}
h1, h2, h3, h4 {
	font-family: $base-font;
	font-weight: $wt-bold-font;
}
h5, h6 {
	font-family: $base-font;
	font-weight: $wt-med-font;
}
h1 {
	@include font($font-size: $h1-sz);
}
h2 {
	@include font($font-size: $h2-sz);
	&.light {
		font-weight: $wt-lt-font;
	}
}
h3 {
	@include font($font-size: $h3-sz);
	&.light {
		font-weight: $wt-lt-font;
	}
}
h4 {
	@include font($font-size: $h4-sz);
	&.light {
		font-weight: $wt-lt-font;
	}
}
h5 {
	@include font($font-size: $h5-sz);
	&.light {
		font-weight: $wt-lt-font;
	}
}
h6 {
	@include font($font-size: $h6-sz);
	&.light {
		font-weight: $wt-lt-font;
	}
}

// Hyperlinks
a {
	@include font($font-color: $white);
	&:hover {
		color: $golden-link;
	}
}