// Variables
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

// Colors

$midnight:						#252546;
$ocean:							#0E3A73;
$hotpink:						#AB339B;
$golden:						#F2A71B;

// Grayscale
$white:							#FCFCFC;
$grey:							#E8EDF3;
$smoke:							#F5F7FA;
$carbon:						#333333;

$base-font-sz:					1rem; //16px

$grad-midhot:					linear-gradient(45deg, rgba(171,51,155,1) 0%, rgba(64,64,121,1) 59%, rgba(37,37,70,1) 100%);